<!-- {{#users.length}} -->
h2 Hey {{current_user.name}}!

ul#sample
  {{#users:i}}
  {{>user}}
  {{/users}}
<!-- {{/users.length}} -->

<!-- {{>user}} -->
li
  label
    input(type='radio',
          name='sample-user',
          value='{{i}}',
          checked='{{ selected === i }}',
          proxy-change='set_user')
    != partial('other')
<!-- {{/user}} -->
