<!-- {{#users.length}} -->
{{#current_user}}
h2 Hey {{name}}!
{{/current_user}}

{{^current_user}}
h2 Choose one:
{{/current_user}}

ul#sample
  {{#users:i}}
  {{>user}}
  {{/users}}
<!-- {{/users.length}} -->

<!-- {{>user}} -->
li
  label
    input(type='radio',
          name='sample-user',
          value='{{i}}',
          checked='{{ selected === i }}',
          proxy-change='set_user')
    != partial('other')
<!-- {{/user}} -->
